body{
    margin:0;
    background-image: url('../img/fondo.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#visibleHeader{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(33, 33, 36);
}
#visibleHeader form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#visibleHeader form input{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 20px 10px rgb(156, 156, 156);
}
/*Usaremos este div vacío para ocupar el espacio debajo de fixed*/
#controlHeader{
    z-index: 9;
    width: 100%;
    height: 120px;
}

#visibleFooter{
    z-index: 10;
    background-color: rgb(33, 33, 36);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    color:white;
    text-align: center;
}
/*Este div invisible evitará que el contenido se introduzca por debajo del footer*/
#controlFooter{
    z-index: 9;
    width: 100%;
    height: 30px;
}


/*Aqui trataremos el body*/
#imagenCentral{
    display: flex;
    justify-content: center;
    align-items: center;
}

#centrarAsientos{
    position: relative;
    display: flex;
    justify-content: center;
}

#asientos{
    position:relative;
    width: 500px;
    height: 500px;
}

#asientos img{
    box-shadow: 0px 0px 2px black;
}

#saludo{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pagarCompra{
    position:absolute;
}

#pagarCompra input{
    background-color:rgb(239, 234, 234) ;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border: none;
    box-shadow: 0px 0px 10px black;
    transition: all 0.5s;
}

#pagarCompra input:hover{
    background-color:rgb(213, 210, 210) ;
    width: 110px;
    height: 35px;
    font-size: 22px;
    box-shadow: 0px 0px 20px black;
}

#pagado{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}